
.sidebar {
  height: 100%;
  width: 10%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 40px;
  background-color: lightblue;
}

.sidebar .scrollLink {
  width: 100%;
  border: none;
  margin: 1px;
}

.customShipDisplay {
  width: 90%;
  transform: translate(11%);
}

.partSetterBlock {

}

.sidebarHighlight {
  background-color: green;
}