h2 {
  padding: 10px;
  margin: 0;
}

h3 {
  padding: 10px;
  margin: 0;
}

.sidebarWrapper {
  height: 100%;
  width: 10%;
  position: fixed;
  background-image: url("../Assets/Images/Base_ship.jpg");
  background-size: cover;
}

.sidebar {
  padding-top: 5svh;
  height: 100%;
  width: 100%;
  background-color: #001129b4;
  color: #C9C5BE;
}


.sidebar .scrollLink {
  width: 100%;
  border: none;
  margin: 1px;
  /* color: #C9C5BE; */
}

a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #C9C5BE;
}



.customShipDisplay {
  width: 90%;
  transform: translate(11%);
  background-color: #001129;
  color: #C9C5BE;
}

.partSetterBlock {
  border: 1px solid #C9C5BE;
  margin: 5px;
}

.sidebarHighlight {
  background-color: #1c3c69f6;
}

legend {
  /* color: red; */
}

fieldset {
  /* width: auto; */
  
}