h2, h3 {
  padding: .5rem;
  margin: 0;
}

@font-face {
  font-family: 'SansationRegular';
  src: local('SansationRegular'), url('../Assets/Fonts/Sansation/SansationRegular-OgJP.ttf') format('truetype');
}

body {
  font-family: 'SansationRegular';

}

.sidebarWrapper {
  height: 100%;
  width: 9svw;
  position: fixed;
  background-image: url("../Assets/Images/Base_ship.jpg");
  background-size: cover;
}

.sidebar {
  padding-top: 5svh;
  height: 100%;
  width: 100%;
  background-color: #001129b4;
  color: #C9C5BE;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  text-align: start;
}

.sidebar a:link, a:visited, a:hover, a:active{
  text-decoration: none;
  color: #C9C5BE;
}

.customShipDisplay {
  width: 90svw;
  transform: translate(9svw);
  background-color: #001129;
  color: #C9C5BE;
  text-align: start;
}

.customShipDisplay h2 {
  padding: 1.5rem;
}

.partSetterList {
  /* padding: 1rem; */
}

.partSetterBlock {
  border: .1rem solid #7e7e7e;
  /* margin: 5px; */
  padding: 1rem;
  margin: 1rem
}

.partSetterBlock .row {
  display: flex;
  flex-direction: row;
}

.partSetterBlock .row div {
  padding: .1rem;
  margin: .1rem 1rem .1rem 0;
}

.totals {
  margin-top: 1rem;
}

.powerCoreBlock {
  display: flex;
  flex-direction: column;
}

.powerCoreBlock div {
  padding: .3rem 0 .3rem 0;
}

.powerCoreBlock select {
  width: fit-content;
}

.ablativeArcs {
  padding-right: 1rem;
}

.note {
  padding-top: 1rem;
}

select {
  background-color: #181A1B;
  color: #7e7e7e;
  border: .1rem solid #7e7e7e;
  font-size: 1rem;
}

.sidebarHighlight {
  background-color: #b4792cd3;
  color: black;
}

legend {
  /* color: red; */
}

fieldset {
  width: fit-content;
  border: .1rem solid #7e7e7e;
}