h2, h3 {
  padding: .5rem 0 1rem 0;
  margin: 0;
}

h1 {
  padding: 1.5rem 0 1rem 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.full-height {
  height: 100svh;
}

.hangarDisplay {
  background-color: #16263b;
  color: #C9C5BE;
}